# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
result/
dataset/emo-db
dataset/ravdess
lib64/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache
